@model Products_Categories.Models.Association
<a href = '/'>Back</a>
<h1 style = 'margin-bottom: 20px'>@ViewBag.product.Name</h1>
<div style = 'display: inline-block; width: 300px; vertical-align: top'>
    <h3>Categories:</h3>
    <ul>
        @{
            foreach(Association category in ViewBag.product.Categories) {
                <li>@category.Category.Name</li>
            }
        }
    </ul>
</div>
<div style = 'display: inline-block; width: 300px; vertical-align: top'>
    <h3>Add Category: </h3>
    <form action = '/add/category' method="post"> 
        <input type='hidden' value='@ViewBag.product.ProductId' asp-for="ProductId">
        <select asp-for="CategoryId">
            @{
                foreach(Category category in ViewBag.categories) {
                    <option value=@category.CategoryId>@category.Name</option>
                }
            }
        </select>
        <input type="submit" value="Submit" class = 'btn btn-primary'>
    </form>
</div>